.sup-menu {
  display: flex;
  align-items: flex-start;
  .date {
    display: flex;
    align-items: center;
  }
  .bt-menu {
    margin-bottom: 5px !important;
  }
  @media (max-width: 1025px) {
    .box {
      width: 450px;
      max-width: 450px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 769px) {
  .sup-menu {
    flex-direction: column;
    .box {
      width: 100%;
      min-width: 100%;
    }
  }
}
